# dependencies
node_modules/

# next.js
.next/
out/

# production
build/
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# python
__pycache__/
*.pyc
.venv/
venv/
*.egg-info/

# backend
backend/tmp/
backend/storage/
backend/test.py
celerybeat-schedule*
*.log
.pids/
